/***********
* Box Model
************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***********
* Font
************/
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Roboto-Light";
}

html{ font-size: 16px; }
@media (min-width:480px){ html{font-size: 24px;} }
@media (min-width:640px){html{ font-size: 32px; }}
@media (min-width:800px){html{ font-size: 40px; }}

html, body {
	width: 100%;
	height: 100%;
	
}

/**************
*   SCREENS
**************/

.ld {
    height: 100%;
    width: 100%;
    overflow: hidden;
    &__page, &__editor {
        height: 100%;
        border: 1px solid black;
        float: left;
    }

    &__page {
        width: 50%;
        position: relative;
        & > iframe {
            width: 100%;
            height: 100%;
            
        }

        &__options {
            padding: 0.2rem 0.5rem;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            &__new {
                width: 20%;
                border-right: 1px solid;
                font-size: 0.5rem;
                font-family: "Roboto-Bold";
                padding-right: 0.3rem;
            }

            &__navigation {
                display: inline-block;
                width: 30%;
                &__previous, &__next {
                    vertical-align: bottom;
                }
            }

            &__address {
                width: 50%;
                font-size: 0.4rem;
                word-wrap: break-word;
            }
        }
    }

    &__editor {
        width: 50%;
         & > div {
            padding: 1rem;
            height: 25%;
            & > textarea {
                width: 100%;
            }
         }
    }
}

.ld__modal {
    &--elements {
        padding: 1rem;
        background-color: #fff;
        position: absolute;
        top: 0;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        & > span {
            font-size: 0.4rem;
            font-family: "Roboto-Bold";
            margin: 0.2rem;
            padding: 0.3rem;
            border: 1px solid;
        }
    }
}

.ld__new-pages {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &__options {
        font-size: 0.7rem;
        font-family: "Roboto-Regular";

        & > input[type="radio"] {
            margin-right: 0.2rem;
        }
    }

    & > textarea {
        width: 100%;
        height: 80%;
        font-size: 0.6rem;
    }

    &__btn {
        text-align: right;
        font-family: "Roboto-Medium";

    }
}

.active-component {
    border: 2px solid red;
}



.ld__page__bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    & > div {
        width: 48%;
        display: inline-block;
        border: 1px solid;
        text-align: center;
        &:hover {
            background-color: red;
        }
    }
}